/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: 100% ;
  left: 0;
  transition: all 0.5s ease;
}

.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left:0px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}



.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 100%;
  width: 100%;
  margin: 0 0px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #14bb5f;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section .home-content{
  position: relative;
  padding-top: 104px;
  padding-left: 0%;
  background-color: rgb(12, 11, 11);
}

.home-content .box .number{
  display: inline;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}




.home-content .sales-boxes{
  display: inline;
  justify-content: space-between;
  padding: 40px,30px;
  padding-left: 240px;
 
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #1b2431;
  padding: 20px 30px;
  margin:40px,40px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 30px;
  font-weight: 500;
  font-style: bold;
  align-content: center;
  color: rgb(27, 233, 223);
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 25px;
  font-weight: 500px;
  align-content: center;
color: rgb(113, 243, 204);
}
.sales-boxes .sales-details li{
  list-style: none;
  align-content: center;
  color: #EFEEF1;
  margin: 8px 7px;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: rgb(230, 211, 211);
  font-size: 400;
  align-content: center;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #055e32;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #055e31;
}

/* Responsive Media Query */
@media (max-width: 240px) {
  
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: row;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
 
}
@media (max-width: 100px) {
  
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}

